{% extends 'base.html' %}
{% block page_title %}
    Register
{% endblock %}
{% block page_content %}
    <div class="uk-container">
        <h1>Rejestracja</h1>
        <form class="uk-form-stacked" method="POST">
            {% csrf_token %}
            {% for field in register_form %}
                <div class="uk-margin">
                    <label class="uk-form-label">
                        {{ field.label_tag }}
                    </label>
                </div>
                <div class="uk-form-controls">
                    {{ field }}
                </div>
                <div class="uk-text-danger uk-margin-small-top">
                    {{ field.errors }}
                </div>
            {% endfor %}
            <div class="uk-margin uk-text-right">
                <button type="submit" class="uk-button uk-button-default uk-border-rounded">
                    Dodaj
                </button>
            </div>
        </form>
    </div>
{% endblock %}