{% extends 'base.html' %}

{% block page_title %}
	Movies
{% endblock %}

{% block page_content %}
<div class="uk-container">
{% if title_filter %}
<p>Zastosowany filtr: {{ title_filter }}</p>
{% endif %}
<table class="uk-table uk-table-divider">
    <thead>
    <tr>
        <th>Tytuł</th>
        <th>Reżyser</th>
        <th>Opis</th>
        <th>Data Wydania</th>
        <th>Liczba głosów</th>
        <th>Średnia ocena</th>
    </tr>
    </thead>
    <tbody>
    {% for movie in movies %}
        <tr>
            <td>{{ movie.title }}</td>
            <td>{{ movie.director }}</td>
            <td>{{ movie.overview }}</td>
            <td>{{ movie.release_date }}</td>
            <td>{{ movie.vote_count }}</td>
            <td>{{ movie.vote_average|floatformat:1 }}</td>
            <td> <a href="{% url 'movie_details' id=movie.id %}">Szczegoly</a>

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    </div>
{% endblock %}

