{% extends 'base.html' %}

{% block page_title %}
    Collection Details
{% endblock %}

{% block page_content %}
    <h1>{{ collection.name }}</h1>
    <p>{{ collection.update_date }}</p>
    {% if collection.movies.all %}
        <table class="uk-table uk-table-divider">
            <thead>
            <tr>
                <td>Tytul</td>
                <td>Opis</td>
                <td>Liczba filmow</td>
                <td>Srednia ocena</td>
            </tr>
            </thead>
            <tbody>
            {% for movie in collection.movies.all %}
                <tr>
                    <td>{{ movie.tile }}</td>
                    <td>{{ movie.overview }}</td>
                    <td>{{ movie.statistics.vote_count }}</td>
                    <td>{{ movie.statistics.vote_average }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Kolekcja nie posiada zadnych filmow</p>
    {% endif %}
{% endblock %}