{% extends 'base.html' %}

{% block page_title %}
    Movie Details
{% endblock %}

{% block page_content %}

    {% if movie %}
        <h1>{{ movie.title }}</h1>
        {{ movie.director }}
        {{ movie.overview }}
        {{ movie.release_date }}
        {{ movie.statistics.vote_count }}
        {% if movie.statistics.vote_average >= 7 %}
            <span class="uk-text-success"> {{ movie.statistics.vote_average|floatformat:1 }} </span>
        {% elif movie.statistics.vote_average > 7 %}
            <span class="uk-text-warning"> {{ movie.statistics.vote_average|floatformat:1 }} </span>
        {% else %}
            <span class="uk-text-danger"> {{ movie.statistics.vote_average|floatformat:1 }} </span>


        {% endif %}

    {% else %}
        <h1><b>Movie do not exists</b></h1>

    {% endif %}




{% endblock %}

